<!-- Header -->
<header class="blog">
<div class="bg-overlay pattern"></div>
    <div class="row">
            <div class="col-lg-12">
                <div class="intro-text-blog">
                    <span class="name">Blogs</span>
                    <div class="horizontal-line"></div>
                    <span class="skills">Write What Learned</span>
                </div>
            </div>
        </div>
</header>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% @blogs.each do |blog| %>
                <div class="post-preview">
                    <%= link_to blog do %>
                        <h2 class="post-title">
                            <%= blog.title %>
                        </h2>
                        <% unless blog.sub_title.blank? %>
                        <h3 class="post-subtitle">
                            <%= blog.sub_title %>
                        </h3>
                        <% end %>
                    <% end %>
                    <p class="post-meta">Posted on <%= blog.created_at.strftime("%B %e, %Y") %></p>
                </div>
                <hr>
                <% end %>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>