<!-- Header -->
<header class="blog-post">
    <div class="bg-overlay pattern"></div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="blog-post-intro">
                <h2>Blogs</h2>
                <span class="title">Just started learning to code in iOS - Ruby on Rails - Android</span>
                <div class="meta">Posted on January 18, 1982</div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="blog-text">
                    <p>Blog text</p>
                </div>
            </div>
        </div>
    </div>
</section>