// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-squared-default {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}
.btn-squared-default:hover {
  border: 3px solid white;
  font-weight: 800;
}

.btn-squared-default-plain {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}
.btn-squared-default-plain:hover {
  border: 0px solid white;
}

section {
    padding: 120px 0 100px 0;
}